# Caches and logs.
.oh-my-zsh/cache
.oh-my-zsh/log
.config/nvim/.cache
.config/nvim/cache_nvim
.config/nvim/state_nvim.vim
.config/nvim/.netrwhist
.config/pgcli/history
.config/pgcli/log
.config/vis/vis.log

.histfile
.bash_history
.zsh_history
.zsh-update
.zcompdump
.zcompdump*
.Xauthority

# Directories.
.config/chromium
.config/qutebrowser
.config/ranger
.config/nvim/repos
.config/nvim/ftdetect
.config/nvim/syntax

# Installed packages.
.packages.foreign
.packages.native

# (There's a special reason to not commit this file)
Scripts/bootvm.sh
